@import '~antd/dist/antd.css';

#root {
  min-height: 100%;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.ant-layout {
  height: 100%;
}

.site-layout {
  padding: 0 50px;
  margin-top: 114px; 
}

.site-layout .site-layout-background {
  background: #fff;
}

.welcome-title {
  text-align: center;
}
.ant-layout-header {
  float: right;
}
.ant-menu-dark.ant-menu-horizontal{
  float: right;
}
.card-component .thumb {
  width: auto;
  height: 200px;
  margin: auto;
  padding-top: 15px;
}
.card-component .price {
  display: block;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}
.loading-center {
  width: 100%;
  min-height: 400;
  display: flex;
  align-items: center;
  justify-content: center;

}